@import "~bootstrap/scss/bootstrap.scss";

.bgMyColor{
    background-color: #070707;
}

.bgMyColor2{
    background-color: 
    #111111;
    border-left: 0.20rem solid #151515;
    border-right: 0.20rem solid #151515;
    border-radius: 0.20rem;
}